* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > .container {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #fffffff0;
    padding: 32px;
    overflow: hidden;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

body > .container > .search-box {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > .container > .search-box > i {
    font-size: 32px;
    position: absolute;
    color: #7b91d8;
}


body > .container > .search-box input {
    color: #1e2124;
    width: 80%;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    padding-left: 40px;
}

body > .container > .search-box input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: 	#424549;
    text-transform: capitalize;
}

body > .container > .search-box > button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #6475af;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.4s ease;
}

body > .container > .search-box > button:hover {
    color: #fff;
    background-color: #161b2b;
}

body > .container > .weather-box {
    text-align: center;
    margin-left: -22px;
}

body > .container > .weather-box > img {
    width: 60%;
    margin-top: 30px;
}

body > .container > .weather-box > .temperature {
    position: relative;
    color: #161b2b;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

body > .container > .weather-box > .temperature > span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5em;
}

body > .container > .weather-box > .description {
    color: #161b2b;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

body > .container > .weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

body > .container > .weather-details > .humidity, 
body > .container > .weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

body > .container > .weather-details > .humidity > i, 
body > .container > .weather-details > .wind > i {
    padding-right: 20px;
    font-size: 22px;
}

body > .container > .weather-details > .humidity {
    justify-content: flex-start;  
}

body > .container > .weather-details > .wind {
    padding-left: 20px;
    justify-content: flex-end;  
}

body > .container > .weather-details > i {
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
    color: #161b2b;
}

body > .container >  .weather-details > span {
    font-size: 22px;
    font-weight: 500;
    color: #161b2b;
}

body > .container > .weather-details > p {
    font-size: 14px;
    font-weight: 500;
    color: #161b2b;
}

body > .container > .not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

body > .container > .not-found img{
    width: 70%;
}

.not-found p{
    color: #161b2b;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

body > .container > .weather-box, body > .container > .weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}